<footer id="footer">
    <div class="footer-widgets-wrapper">
        <div class="container">
            <div class="column dt-sc-one-fourth first">
                <aside class="widget widget_text">
                    <h3 class="widget-title">Contact <span class="wlast"> Us </span><span class="small-line"> </span></h3>
                    <p> <i class="fa fa-phone"></i> <span>Phone:</span>0755-4700802</p>
                    <p> <i class="fa fa-phone"></i> <span>Moblie No:</span> +91 99268 02865</p>
                    <p> <i class="fa fa-envelope"></i> <span> </span> <a href="#"><span class="__cf_email__" data-cfemail="1a6a68737568736e635a7d777b737634797577">&nbsp;info@vagmiinfotech.com</span></a>
                    </p>
                    <p> <i class="fa fa-globe"></i> <span>Web:</span> <a href="#">www.vagmiinfotech.com</a> </p>
                    <p> <i class="fa fa-location-arrow"></i> <span>Danish Kunj, Kolar Rd, Bhopal, Madhya
                            Pradesh 462042</span> </p>
                </aside>

            </div>
            <div class="column dt-sc-one-fourth">
                <aside class="widget widget_popular_entries">
                    <h3 class="widget-title">Popular <span class="wlast">Posts</span><span class="small-line"> </span></h3>

                    <ul>
                        <li><a href="About.html ">About Us</a></li>
                        <li><a href="Windows-Hosting.html">Hosting</a></li>
                        <li><a href="Our-Bankers.html">Our Bankers</a></li>
                        <li><a href="Portfolio.html">Portfolio</a></li>
                        <li><a href="./Software-Consultancy.html">Software Consultancy</a></li>
                        <li><a href="# "> Web Development</a></li>

                    </ul>

                </aside>
            </div>
            <div class="column dt-sc-one-fourth">
                <aside class="widget widget_tweetbox">
                    <h3 class="widget-title">vagmi <span class="wlast">Services</span><span class="small-line"> </span></h3>
                    <ul>
                        <li><a href="term&amp;condition.html">Term And Condition</a></li>


                    </ul>

                </aside>
            </div>
            <div class="column dt-sc-one-fourth">
                <aside class="widget mailchimp">
                    <h3 class="widget-title">Newsletter <span class="wlast">Subscription</span><span class="small-line"> </span></h3>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and
                        praising pain was of the great explorer.</p>
                    <form method="post" class="mailchimp-form" name="frmNewsletter" action="#" novalidate="novalidate">
                        <p><span class="fa fa-envelope"></span>
                            <input type="email" placeholder="Enter Email" name="email" value="" required="">
                            <input type="submit" name="submit" class="dt-sc-button" value="Subscribe">
                        </p>
                    </form>
                    <div id="ajax_newsletter_msg"></div>
                    <div class="dt-sc-hr-invisible-small"></div>
                    <ul class="dt-sc-social-icons">
                        <li> <a href="https://www.facebook.com/vagmiinfotech " target="_blnck" title="facebook"> <i class="fa fa-facebook"></i> </a> </li>

                        <li> <a href="https://twitter.com/InfotechVagmi" target="_blnck" title="twitter"><i class="fa fa-twitter"></i> </a> </li>

                        <li> <a href="https://www.instagram.com/vagmiinfotech/" target="_blnck" title="instagram"><i class="fa fa-instagram"></i> </a> </li>

                        <li> <a href="https://in.pinterest.com/vagmiinfotech" target="_blnck" title="pinterest"><i class="fa fa-pinterest"></i> </a> </li>

                        <li> <a href="https://www.linkedin.com/company/72606512/admin/" target="_blnck" title="linkedin"><i class="fa fa-linkedin"></i></a> </li>



                    </ul>
                </aside>

            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p> Copyright © Vagmi Infotech.2021 | All Rights Reserved.</p>
            <ul class="footer-links">
                <li><a href="index.html">Home</a>/</li>
                <li><a href="about.html">About</a>/</li>
                <li><a href="Services.html">Services</a>/</li>
                <li><a href="blog.html">Blog</a>/</li>
                <li><a href="Portfolio.html">Portfolio</a>/</li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</footer>