<div id="main">

    <div class="banner">

        <marquee width="100%" direction="left" height="">
            <ul class="top-menu">
                <li> Welcome to vagmi Infotech </li>
                <li> <i class="fa fa-bullhorn" style="color: red; margin-inline-end: 10px;"> </i>Exclusive
                    10% Off on
                    Social Media Marketing . Limited time period offer !! Hurry Up!! </li>

            </ul>
        </marquee>
        <div id="layerslider_9" class="ls-wp-container ls-container ls-v5"
            style="width: 100%; height: 645px; max-width: 1920px; margin: 0px auto; visibility: visible;">

            <div class="ls-inner" style="background-color: transparent; width: 1349px; height: 645px;">
                <div class="ls-lt-container ls-overflow-hidden" style="width: 1349px; height: 645px; display: block;">
                    <div class="ls-curtiles" style="overflow: hidden;">
                        <div class="ls-lt-tile" style="width: 1349px; height: 645px; overflow: hidden;">
                            <div class="ls-curtile" style="opacity: 1; left: 0px; top: 645px;"><img
                                    src="images/sliders/bg1.jpg"
                                    style="width: 1920px; height: 645px; margin-left: -285.5px; margin-top: 0px;"></div>
                        </div>
                    </div>
                    <div class="ls-nexttiles">
                        <div class="ls-lt-tile" style="width: 1349px; height: 645px; overflow: hidden;">
                            <div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1;"><img
                                    src="images/sliders/bg1.jpg"
                                    style="width: 1920px; height: 645px; margin-left: -285.5px; margin-top: 0px;"></div>
                        </div>
                    </div>
                </div>
                <div class="ls-slide" data-ls="slidedelay:10000;transition2d:4;"
                    style="width: 0px; height: 645px; visibility: visible; display: none; inset: 0px auto auto 0px;">

                    <img src="images/sliders/bg1.jpg" data-src="images/sliders/bg1.jpg" class="ls-bg ls-preloaded"
                        alt="bg1"
                        style="padding: 0px; border-width: 0px; width: 1920px; height: 645px; margin-left: -285.5px; margin-top: 0px; visibility: hidden;">
                    <div class="ls-gpuhack"
                        style="width: auto; height: auto; padding: 0px; border-width: 0px; left: 89.5px; top: 0px;">
                    </div>
                    <div class="ls-l"
                        style="top: 196px; left: 109.5px; font-weight: 300; z-index: 5; padding: 0px; font-family: Lato, &quot;Open Sans&quot;, sans-serif; font-size: 49px; line-height: 46px; color: rgb(16, 16, 23); white-space: nowrap; width: auto; height: auto; border-width: 0px; margin-left: 0px; margin-top: 0px; transform-origin: left 50% 0px; transform: matrix3d(0, 0, 1, -0.002, 0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 0, 1); opacity: 1; visibility: hidden; filter: none;"
                        data-ls="offsetxin:0;offsetyin:200;durationin:2500;delayin:1500;transformoriginin:left 50% 0;offsetxout:0;rotateyout:-90;transformoriginout:left 50% 0;">
                        Leveraging Digital <span style="color:#be2a00 font-weight:900">Technologies </span>
                    </div>
                    <div class="ls-l"
                        style="top: 266px; left: 111.5px; font-weight: 300; z-index: 3; font-family: Lato; font-size: 30px; line-height: 26px; color: rgb(16, 16, 23); white-space: nowrap; width: auto; height: auto; padding: 0px; border-width: 0px; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, -80, 0, 0, 1); opacity: 1; visibility: hidden; filter: none;"
                        data-ls="offsetxin:-100;durationin:2000;delayin:2500;"> Implementing Online <span
                            style="color:#be2a00"> Strategies for Business Success</span> </div>
                    <div class="ls-l"
                        style="top: 325px; left: 109.5px; width: 622px; height: 2px; border-width: 0px 0px 1px; border-bottom-style: solid; border-bottom-color: rgb(16, 16, 23); font-family: Ubuntu; font-size: 24px; line-height: 34px; color: rgb(2, 2, 3); background: rgb(16, 16, 23); white-space: nowrap; padding: 0px; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, -80, 0, 0, 1); opacity: 1; visibility: hidden; filter: none;"
                        data-ls="offsetxin:-500;durationin:2500;delayin:4500;"><br> </div>
                    <img class="ls-l ls-preloaded"
                        style="top: 23px; left: 712.5px; white-space: nowrap; width: 543px; height: 645px; padding: 0px; border-width: 0px; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, -80, 0, 0, 1); opacity: 1; visibility: hidden; filter: none;"
                        data-ls="offsetxin:0;offsetyin:-100;delayin:500;" src="images/sliders/running-man.png"
                        data-src="images/sliders/running-man.png" alt="image">
                    <p class="ls-l"
                        style="top: 172px; left: 640.5px; font-weight: 300; font-family: Lato; font-size: 123px; color: rgb(162, 171, 184); white-space: nowrap; width: auto; height: auto; padding: 0px; border-width: 0px; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, -80, 0, 0, 1); opacity: 1; visibility: hidden; filter: none;"
                        data-ls="durationin:2000;delayin:2000;">&amp;</p>
                    <div class="ls-l"
                        style="top: 360px; left: 109.5px; font-weight: normal; z-index: 5; letter-spacing: 7px; padding: 0px; font-family: Lato, &quot;Open Sans&quot;, sans-serif; font-size: 62px; line-height: 46px; color: rgb(16, 16, 23); white-space: nowrap; width: auto; height: auto; border-width: 0px; margin-left: 0px; margin-top: 0px; transform-origin: left 50% 0px; transform: matrix3d(0, 0, 1, -0.002, 0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 0, 1); opacity: 1; visibility: hidden; filter: none;"
                        data-ls="offsetxin:0;offsetyin:200;durationin:2500;delayin:3500;transformoriginin:left 50% 0;offsetxout:0;rotateyout:-90;transformoriginout:left 50% 0;">
                        TECHNOLOGY + <span style="color:#a2abb8;"> STRATEGY</span> </div>
                </div>
                <div class="ls-slide ls-active" data-ls="slidedelay:10000;transition2d:4;"
                    style="width: 1349px; height: 645px; visibility: visible; display: none; inset: 0px 0px auto auto;">
                    <img src="images/sliders/bg1.jpg" data-src="images/sliders/bg1.jpg" class="ls-bg ls-preloaded"
                        alt="bg1"
                        style="padding: 0px; border-width: 0px; width: 1920px; height: 645px; margin-left: -285.5px; margin-top: 0px; visibility: visible;">
                    <div class="ls-gpuhack"
                        style="width: auto; height: auto; padding: 0px; border-width: 0px; left: 89.5px; top: 0px;">
                    </div>
                    <div class="ls-l"
                        style="top: 196px; left: 109.5px; font-weight: 300; z-index: 5; padding: 0px; font-family: Lato, &quot;Open Sans&quot;, sans-serif; font-size: 59px; line-height: 46px; color: rgb(16, 16, 23); white-space: nowrap; width: auto; height: auto; border-width: 0px; margin-left: 0px; margin-top: 0px; transform-origin: left 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1); opacity: 1; visibility: visible; filter: none;"
                        data-ls="offsetxin:0;offsetyin:200;durationin:2500;delayin:1500;transformoriginin:left 50% 0;offsetxout:0;rotateyout:-90;transformoriginout:left 50% 0;">
                        Amplify Your <span style="color:#be2a00 font-weight:900"> Brand </span> </div>
                    <div class="ls-l"
                        style="top: 266px; left: 111.5px; font-weight: 300; z-index: 3; font-family: Lato; font-size: 30px; line-height: 26px; color: rgb(16, 16, 23); white-space: nowrap; width: auto; height: auto; padding: 0px; border-width: 0px; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1); opacity: 1; visibility: visible; filter: none;"
                        data-ls="offsetxin:-100;durationin:2000;delayin:2500;">Your One Stop Shop For <span
                            style="color:#be2a00"> All Digital Solutions</span> </div>
                    <div class="ls-l"
                        style="top: 325px; left: 109.5px; width: 622px; height: 2px; border-width: 0px 0px 1px; border-bottom-style: solid; border-bottom-color: rgb(16, 16, 23); font-family: Ubuntu; font-size: 24px; line-height: 34px; color: rgb(2, 2, 3); background: rgb(16, 16, 23); white-space: nowrap; padding: 0px; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, -23.6517, 0, 0, 1); opacity: 0.952697; visibility: visible; filter: none;"
                        data-ls="offsetxin:-500;durationin:2500;delayin:4500;"><br> </div>
                    <img class="ls-l ls-preloaded"
                        style="top: 23px; left: 712.5px; white-space: nowrap; width: 543px; height: 645px; padding: 0px; border-width: 0px; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1); opacity: 1; visibility: visible; filter: none;"
                        data-ls="offsetxin:0;offsetyin:-100;delayin:500;" src="images/sliders/running-man1.png"
                        data-src="images/sliders/running-man1.png" alt="image">
                    <p class="ls-l"
                        style="top: 172px; left: 640.5px; font-weight: 300; font-family: Lato; font-size: 123px; color: rgb(162, 171, 184); white-space: nowrap; width: auto; height: auto; padding: 0px; border-width: 0px; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1); opacity: 1; visibility: visible; filter: none;"
                        data-ls="durationin:2000;delayin:2000;">&amp;</p>
                    <div class="ls-l"
                        style="top: 360px; left: 109.5px; font-weight: normal; z-index: 5; letter-spacing: 7px; padding: 0px; font-family: Lato, &quot;Open Sans&quot;, sans-serif; font-size: 62px; line-height: 46px; color: rgb(16, 16, 23); white-space: nowrap; width: auto; height: auto; border-width: 0px; margin-left: 0px; margin-top: 0px; transform-origin: left 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1); opacity: 1; visibility: visible; filter: none;"
                        data-ls="offsetxin:0;offsetyin:200;durationin:2500;delayin:3500;transformoriginin:left 50% 0;offsetxout:0;rotateyout:-90;transformoriginout:left 50% 0;">
                        Digital + <span style="color:#a2abb8;"> Solution </span> </div>
                </div>
                <div class="ls-slide" data-ls="slidedelay:10000;transition2d:4;"
                    style="width: 0px; height: 645px; inset: 0px auto auto 0px; visibility: visible; display: none;">
                    <img src="images/sliders/bg34.jpg" data-src="images/sliders/bg34.jpg" class="ls-bg ls-preloaded"
                        alt="bg1"
                        style="padding: 0px; border-width: 0px; width: 1920px; height: 645px; margin-left: -285.5px; margin-top: 0px; visibility: hidden;">
                    <div class="ls-gpuhack"
                        style="width: auto; height: auto; padding: 0px; border-width: 0px; left: 89.5px; top: 0px;">
                    </div>
                    <div class="ls-l"
                        style="top: 196px; left: 109.5px; font-weight: 300; z-index: 5; padding: 0px; font-family: Lato, &quot;Open Sans&quot;, sans-serif; font-size: 59px; line-height: 46px; color: rgb(16, 16, 23); white-space: nowrap; filter: none; width: auto; height: auto; border-width: 0px; margin-left: 0px; margin-top: 0px; transform-origin: left 50% 0px; transform: matrix3d(0, 0, 1, -0.002, 0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 0, 1); opacity: 1; visibility: hidden;"
                        data-ls="offsetxin:0;offsetyin:200;durationin:2500;delayin:1500;transformoriginin:left 50% 0;offsetxout:0;rotateyout:-90;transformoriginout:left 50% 0;">
                        Digital Solution <span style="color:#be2a00 font-weight:900"> Provider </span> </div>
                    <div class="ls-l"
                        style="top: 266px; left: 111.5px; font-weight: 300; z-index: 3; font-family: Lato; font-size: 30px; line-height: 26px; color: rgb(16, 16, 23); white-space: nowrap; filter: none; width: auto; height: auto; padding: 0px; border-width: 0px; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, -80, 0, 0, 1); opacity: 1; visibility: hidden;"
                        data-ls="offsetxin:-100;durationin:2000;delayin:2500;">Website Design and <span
                            style="color:#be2a00"> Digital Marketing Solutions</span> </div>
                    <div class="ls-l"
                        style="top: 325px; left: 109.5px; width: 622px; height: 2px; border-width: 0px 0px 1px; border-bottom-style: solid; border-bottom-color: rgb(16, 16, 23); font-family: Ubuntu; font-size: 24px; line-height: 34px; color: rgb(2, 2, 3); background: rgb(16, 16, 23); white-space: nowrap; filter: none; padding: 0px; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, -80, 0, 0, 1); opacity: 1; visibility: hidden;"
                        data-ls="offsetxin:-500;durationin:2500;delayin:4500;"><br> </div>
                    <!--<img class="ls-l" style="top:23px;left:623px;white-space: nowrap;" data-ls="offsetxin:0;offsetyin:-100;delayin:500;" src="images/sliders/blank.gif" data-src="images/sliders/running-man.png" alt="image">-->
                    <p class="ls-l"
                        style="top: 172px; left: 640.5px; font-weight: 300; font-family: Lato; font-size: 123px; color: rgb(162, 171, 184); white-space: nowrap; filter: none; width: auto; height: auto; padding: 0px; border-width: 0px; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, -80, 0, 0, 1); opacity: 1; visibility: hidden;"
                        data-ls="durationin:2000;delayin:2000;">&amp;</p>
                    <div class="ls-l"
                        style="top: 360px; left: 109.5px; font-weight: normal; z-index: 5; letter-spacing: 7px; padding: 0px; font-family: Lato, &quot;Open Sans&quot;, sans-serif; font-size: 62px; line-height: 46px; color: rgb(16, 16, 23); white-space: nowrap; filter: none; width: auto; height: auto; border-width: 0px; margin-left: 0px; margin-top: 0px; transform-origin: left 50% 0px; transform: matrix3d(0, 0, 1, -0.002, 0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 0, 1); opacity: 1; visibility: hidden;"
                        data-ls="offsetxin:0;offsetyin:200;durationin:2500;delayin:3500;transformoriginin:left 50% 0;offsetxout:0;rotateyout:-90;transformoriginout:left 50% 0;">
                        Marketing + <span style="color:#a2abb8;"> Solutions</span> </div>
                </div>
                <div class="ls-circle-timer" style="display: block;">
                    <div class="ls-ct-left">
                        <div class="ls-ct-rotate" style="transform: matrix(0.90827, 0.41837, -0.41837, 0.90827, 0, 0);">
                            <div class="ls-ct-hider">
                                <div class="ls-ct-half"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ls-ct-right">
                        <div class="ls-ct-rotate" style="transform: matrix(-1, 0, 0, -1, 0, 0);">
                            <div class="ls-ct-hider">
                                <div class="ls-ct-half"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ls-ct-center"></div>
                </div>
            </div>


            <div class="ls-loading-container" style="z-index: -1; display: none;">
                <div class="ls-loading-indicator"></div>
            </div><a class="ls-nav-prev" href="#" style="visibility: visible; display: none;"></a><a class="ls-nav-next"
                href="#" style="visibility: visible; display: none;"></a>
            <div class="ls-bottom-nav-wrapper" style="visibility: visible;"><a class="ls-nav-start ls-nav-start-active"
                    href="#"></a><span class="ls-bottom-slidebuttons"><a href="#" class=""></a><a href="#"
                        class="ls-nav-active"></a><a href="#" class=""></a>
                    <div class="ls-thumbnail-hover" style="width: 100px; height: 60px;">
                        <div class="ls-thumbnail-hover-inner" style="visibility: hidden; display: block;">
                            <div class="ls-thumbnail-hover-bg"></div>
                            <div class="ls-thumbnail-hover-img" style="width: 100px; height: 60px;"><img
                                    style="height: 60px;"></div><span></span>
                        </div>
                    </div>
                </span><a class="ls-nav-stop" href="#"></a></div>
            <div class="ls-shadow"></div>
        </div>
    </div>

    <div class="intro-text type1">
        <div class="container">
            <div class="dt-sc-hr-invisible-very-small"></div>
            <div class="column dt-sc-two-third first">
                <div class="marquee">
                    <p>Welcome to Vagmi Infotech</p>
                </div>
                <h2>Searching for a <strong> Digital Marketing Partner</strong> <strong>That Fits Your
                        Needs?</strong></h2>
                <h4>Get Our Professional Services for Your Business</h4>
            </div>
            <div class="column dt-sc-one-third">
                <a class="dt-sc-button large" href="contact.html">Get In Touch <span
                        class="fa fa-angle-right"></span></a>
            </div>
        </div>
        <div class="dt-sc-hr-invisible-very-small"></div>
    </div>
    <div class="dt-sc-margin65"></div>
    <!-- =================================Our Services================================== -->
    <div class="full-width-section">
        <div class="container">
            <h2 class="aligncenter">Our Services</h2>
            <p class="middle-align">We offer a full range of digital marketing and website development
                services to help your business grow. </p>
            <div class="dt-sc-hr-invisible-small"></div>
            <div class="row">
                <div class="col-md-3" *ngFor="let data of homeourData">
                    <div class="dt-sc-ico-content type1">
                        <div class="icon">
                            <img src="{{data.img}}" alt="setting">
                        </div>
                        <h4> <a href="#"> {{data.heading}} </a> </h4>
                        <p>{{data.paragrph}} </p>
                    </div>
                </div>
                <!-- <div class="dt-sc-hr-invisible-small"></div> -->
            </div>

            <div class="dt-sc-margin65"></div>
            <!-- =================================black slider================================== -->
            <div class="full-width-section">

                <div class="parallax full-width-section fullwidth-testimonial">
                    <div class="container">
                        <div class="dt-sc-testimonial-wrapper">
                            <div class="caroufredsel_wrapper"
                                style="display: block; text-align: center; float: none; position: relative; inset: auto; z-index: auto; width: 1170px; height: 79px; margin: 0px 0px 20px; overflow: hidden;">
                                <ul class="dt-sc-testimonial-carousel"
                                    style="text-align: left; float: none; position: absolute; inset: 0px auto auto 0px; margin: 0px; width: 8190px; height: 79px; z-index: auto;">


                                    <li style="width: 1150px;">
                                        <div class="dt-sc-testimonial">
                                            <h5> Google only loves you when everyone else loves you first. ”
                                            </h5>
                                            <span>Wendy Piersall</span>
                                        </div>
                                    </li>
                                    <li style="width: 1150px;">
                                        <div class="dt-sc-testimonial">
                                            <h5>Content marketing is a commitment, not a campaign .”</h5>
                                            <span>Jon Buscall</span>
                                        </div>
                                    </li>
                                    <li style="width: 1150px;">
                                        <div class="dt-sc-testimonial">
                                            <h5>Brand is just a perception, and perception will match reality
                                                over time.” </h5>
                                            <span>Elon Musk</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dt-sc-margin65"></div>
                <!-- ================================= Our Blogs ================================== -->

                <div class="full-width-section">
                    <div class="container">
                        <h2 class="aligncenter">Our Blogs</h2>
                        <p class="middle-align">Things You may be interested in </p>
                        <div class="dt-sc-hr-invisible-small"></div>
                        <div class="row">
                            <div class="col-md-4" *ngFor="let bolgdata of homebolgData">
                                <article class="blog-post">
                                    <div class="entry-thumb">
                                        <a href="./A-Comprehensive-Guide.html"><img style="height: 251px;"
                                                src="{{bolgdata.img}}" alt="image"></a>
                                    </div>

                                    <div class="entry-detail">
                                        <div class="entry-title">
                                            <h4><a href="./A-Comprehensive-Guide.html">{{bolgdata.heading}}</a>
                                            </h4>
                                        </div>
                                        <div class="entry-body">
                                            <p>{{bolgdata.paragrph}} </p>
                                        </div>
                                        <a class="read-more" href="./A-Comprehensive-Guide.html">Read More
                                            <span class="fa fa-long-arrow-right"></span> </a>
                                    </div>
                                </article>
                            </div>

                        </div>
                        <!-- <div class="dt-sc-margin30"></div> -->
                    </div>
                    <div class="dt-sc-hr-invisible-small hr-line"></div>
                </div>

                <div class="full-width-section">
                    <div class="dt-sc-margin30"></div>
                    <!-- ================================= services ================================== -->
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4" *ngFor="let data of sericesbolg">
                                <div class="hr-title">
                                    <h3>{{data.title}}</h3>
                                    <div class="title-sep"> </div>
                                </div>
                                <div *ngIf="data.content">
                                    <div class="dt-sc-toggle-frame-set" *ngFor="let frame of data.content">
                                        <h5  (click)="onclick(frame.title)"   [ngClass]="{'active': selectedFrameTitle === frame.title}" class="dt-sc-toggle-accordion"><a> {{ frame.title }}</a>
                                        </h5>
                                        <div class="dt-sc-toggle-content" style="display: block;" [ngStyle]="{'display': selectedFrameTitle === frame.title ? 'block' : 'none'}">
                                            <div class="block">
                                                {{ frame.description }}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div *ngIf="data.list">
                                    <ul class="dt-sc-icon-list">
                                        <li class="fadeInUp" data-animation="fadeInUp" data-delay="100"
                                            *ngFor="let item of data.list"><a href="Web-Applications.html"><i
                                                    class="fa fa-inbox"></i>{{item.name}}</a></li>

                                    </ul>
                                </div>

                                <div *ngIf="data.teamMember">
                                    <div class="dt-sc-team type2">
                                        <div class="image">
                                            <a href="#"><img [src]="data.teamMember.image" alt="image"></a>
                                            <h6>{{ data.teamMember.name }}</h6>
                                            <p>{{ data.teamMember.role }}</p>
                                            <p>{{ data.teamMember.description }}</p>
                                        </div>
                                    </div>

                                    <div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dt-sc-hr-invisible-small"></div>
                    <!-- ================================= Recent Portfolio ================================== -->

                    <div class="full-width-section grey">
                        <div class="dt-sc-margin65"></div>

                        <div class="container">
                            <div class="row">
                                <div class="hr-title">
                                    <h2>Recent Portfolio</h2>
                                    <div class="title-sep">
                                    </div>
                                    <div class="title-sep">
                                    </div>
                                </div>

                                <div class="col-md-4" *ngFor="let data of content">

                                    <div class="portfolio">

                                        <div class="portfolio-thumb">
                                            <img [src]="data.image" alt="image" alt="image">
                                            <div class="image-overlay">
                                                <a class="zoom" href="images/portfolio-images/image26.jpg"
                                                    data-gal="prettyPhoto[gallery]"><span
                                                        class="fa fa-search"></span></a>
                                                <a class="link" href="Portfolio.html"><span
                                                        class="fa fa-link"></span></a>
                                            </div>
                                        </div>

                                        <div class="portfolio-detail">
                                            <div class="views"><span class="fa fa-heart"></span><br><a
                                                    href="#">{{data.likes}}</a>
                                            </div>
                                            <div class="portfolio-title">
                                                <h5><a href="Portfolio.html">{{data.title}}</a></h5>
                                                <p>{{data.description}}</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="dt-sc-margin50"></div>
                    </div>


                    <!-- ================================= Meet Our Team ================================== -->

                    <div class="full-width-section">
                        <div class="dt-sc-margin70"></div>
                        <div class="container">
                            <div class="column dt-sc-one-fourth first">
                                <div class="dt-sc-team-wrapper">
                                    <h2>Meet Our Team</h2>
                                    <p>Aliquam enim enim, pharetra in sodales at, interdum sit amet dui. Nullam
                                        vulputate euis od urna non pharetra. Phasellus bland matt is ipsum, ac
                                        laoreet lorem lacinia et. interum sit amet dui. Nullam vulputate euismod
                                        urna non pharetra. Nullam vulputate euismod urna non pharetra. Phasellus
                                        blandit mattis ipsum, ac laoreet lorem lacinia et.et.</p>
                                </div>
                            </div>
                            <div class="column dt-sc-three-fourth">

                                <div class="dt-sc-team-carousel-wrapper">

                                    <li><a href="#"><img src="images/teem.jpg" alt="image"></a></li>



                                </div>
                            </div>
                            <div class="dt-sc-margin45"></div>
                        </div>
                    </div>

                    <div class="full-width-section grey">
                        <div class="dt-sc-hr-invisible"></div>
                        <div class="container">

                            <div class="dt-sc-partner-carousel-wrapper">
                                <div class="caroufredsel_wrapper"
                                    style="display: block; text-align: start; float: left; position: relative; inset: auto; z-index: auto; width: 1168px; height: 148px; margin: 0px; overflow: hidden;">
                                    <ul class="dt-sc-partner-carousel team">
                                        <li *ngFor="let data of Meeting " style="width: 212px;"><a href="#"><img
                                                    [src]="data.imageUrl" alt="image"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="dt-sc-hr-invisible-small"></div>
                    </div>
                </div>
            </div>


            <!-- Footer conatiner -->

        </div>
    </div>